
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @{
        string action = "";
        bool allowEdit = false;
        int List_id = Request.QueryString["List"].AsInt();
        action = Request.QueryString["action"];
        if (action == "edit")
        {
            if (WebSecurity.CurrentUserId == List_id)
            {
                allowEdit = true;
                if (IsPost)
                {
                    if(Request.Form["act"] == "add")
                    {
                        //voer query uit om item toetevoegen 
                    }
                }
            }
            else
            {
                Response.Redirect("~/default");
            }
        }
        var db = Database.Open("Todo");
    }  
    @if (allowEdit)
    {
        <div class="edit">
            <form method="post">
                <input type="hidden" value="add" name="action"/>
                Item naam<input type="text" name="item"/><br />
                hoe belangrijk<input type="number" name="value"/><br />
                <input type="submit"/><br />
            </form>

        </div>
    }
    <table>
        <tr>
        <td>id</td><td>ItemName</td><td>ItemValue</td>
        </tr>

            @foreach(var row in db.Query("SELECT * FROM ListOfThings"))
            {
            <tr> 
            <td>@row.Id</td> 
            <td>@row.ItemName</td> 
            <td>@row.ItemValue</td> 
            </tr> 
            }
    </table>




</body>
</html>
